*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.brand-font{
  font-family: 'Righteous', cursive;
  color:black;
}
.brand-style{
  font-size: 2rem;
}
.nav-links{
  padding:1rem;
}
.active{
  color:gray;
}
.Home{
  background-image: url('./Components/images/coosy.jpg');
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
 
}
.img-size{
height:80vh;
}
.price{
  font-size: 1.4rem;
  color:rgb(207, 86, 86);
  font-weight: 500;
}
.pic{
  height: 60vh;
}
.details-img{
  height:70vh;
}
.line{
  padding:0.1rem;
}
.cart-img{
  height: 250px;
  width:200px
}
.quantity{
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
}
.plus-minus{
  cursor: pointer;
}
.quant{
  border: 1px solid black;
  border-radius: 19px;
}
.remove{
  color: rgb(179, 73, 73);
}
.checkout-btn{
  color: white;
  background-color: rgb(126, 197, 221);
  border:none;
  border-radius: 34px;
}
.checkout-btnn:hover{
  background-color: lightblue ;
}
.quantity-badge{
  font-family: 'PT Sans', sans-serif;
}
.shopPrice{
  font-size: 1.3rem;
  color: rgb(179, 73, 73);
}
.disabled{
cursor:none !important;
}
.sale{
  height: 250px;
  opacity: 80%;
}
.marking{
  user-select: none;
}